@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager
@{
    var loginProviders = SignInManager.GetExternalAuthenticationSchemesAsync().Result;

    <form asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnurl="@Url.RouteUrl("dashboard")" method="post">
        @Html.AntiForgeryToken()
        <ul class="list-inline banner-social-buttons">

            @foreach (var p in loginProviders.Where(a => a.DisplayName != null))
            {
                <li>
                    <button type="submit" class="btn btn-default btn-lg" id="@p.Name" name="provider" value="@p.Name" title="Log in using your @p.DisplayName account"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></button>
                </li>
            }
        </ul>
    </form>
}
